.tr{:id => dom_id(trip)}
  %span.td
    = trip.trip_date.to_formatted_s(:long)
  %span.td
    = trip.alias
  %span.td
    = trip.distance_in_kilometer
  %span.td
    .nowrap
      = render "trips/actions", trip: trip
