<div class="container">
  <h1>Trips</h1>
  <div class="col-xs-6">
    <table class="table">
      <thead class="thead-inverse">
        <tr>
          <th>Date</th>
          <th>Distance</th>
        </tr>
      </thead>
      <tbody>
        <% @trips.each do |trip| %>
        <tr>
          <td><%= trip.trip_date %></td>
          <td><%= trip.distance %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
