.container
  %h3 Trips
  .row
    .col-sm-6
      %h5 Add new trip
      %p
        #new-trip-errors.form-errors
        = render "trips/new_form", object: @user.trips.new, button_name: "Add Trip"
    .col-sm-6
      %h5 Create trip from route
      %p
        #new-trip-from-route-errors.form-errors
        = render "trips/new_from_route_form"
  %p
    %h5 History
    #table-trips.table.table-striped
      .thead
        .tr
          %span.th Date
          %span.th Alias
          %span.th Distance (km)
          %span.th Actions
      .tbody
        = render partial: 'trip', collection: @trips, locals: { render_actions: true }
    #edit-trip-errors.form-errors
