.container
  %h3 Trips
  #table-trips.table.table-striped
    .thead
      .tr
        %span.th User
        %span.th Date
        %span.th Distance (km)
    .tbody
      = render partial: 'recent_trip', collection: @trips

  = will_paginate @trips, list_classes: %w(pagination justify-content-center)
