.jumbotron
  .container
    %h1.display-3 Eddy!
    %p Welcome to Eddy, your personal MgX 1000km challenge tracker service.
    %p
      %a.btn.btn-primary.btn-lg
        = fa_icon 'plus'
        \ Add new ride

.container
  .row.marketing
    .col-lg-3
      %h2 Scoreboards
      %p
        An overview of the current leading biker in every category.
      %a.btn.btn-secondary{role: "button"} View details »
    .col-lg-3
      %h2 Progress
      %p
        Keep track of your current progress
      %a.btn.btn-secondary{role: "button"} View details »
    .col-lg-3
      %h2 Configure
      %p
        Configure your own trips, favourite routes and locations.
      %a.btn.btn-secondary{role: "button"} View details »
    .col-lg-3
      %h2 History
      %p
        A complete history of all past winners and records.
      %a.btn.btn-secondary{role: "button"} View details »
