= link_to "#{fa_icon :edit}<span class='hidden-md-down'> Edit</span>".html_safe, edit_user_route_path(route.user, route), class: "btn btn-secondary btn-sm", remote: true
= link_to "#{fa_icon :trash}<span class='hidden-md-down'> Delete</span>".html_safe, user_route_path(route.user, route), class: "btn btn-danger btn-sm", data: {confirm: 'Are you sure?'}, remote: true, method: :delete
