.container
  %h3 Manage routes
  .table-responsive
    #table-routes.table.table-striped
      .thead
        .tr
          %span.th Alias
          %span.th Distance (km)
          %span.th Actions
      .tbody
        = render @routes
        = render "routes/form", object: @user.routes.new, button_name: "Add Route"
    #route-errors.form-errors
