@import "bootstrap";
@import "font-awesome.css";
@import "div-tables";

body { padding-top: 50px; }

h3 { margin-top: 20px; }

input[type="date"].form-control { line-height: 1.5; }

#manage-account-dropdown { padding-right: 1rem; }
