= link_to "#{fa_icon :edit} Edit".html_safe, edit_user_location_path(location.user, location), class: "btn btn-primary-outline btn-sm", remote: true
- if can? :destroy, location
  = link_to "#{fa_icon :trash} Delete".html_safe, user_location_path(location.user, location), class: "btn btn-warning-outline btn-sm", data: {confirm: 'Are you sure?'}, remote: true, method: :delete
