.container
  %hr
    %footer
      %p
        %div.pull-xs-left
          \&copy;
          MediaGeniX NV
          2016
        %div.pull-xs-right
          = link_to "Source", "https://github.com/MediaGeniX/Eddy"
          |
          = link_to "Issues", "https://github.com/MediaGeniX/Eddy/issues"

