.container
  %hr
    %footer
      .d-flex.justify-content-between.mb-3
        .p-2
          \&copy;
          MediaGeniX NV
          2016
        .p-2
          = link_to "Source", "https://github.com/MediaGeniX/Eddy"
          |
          = link_to "Issues", "https://github.com/MediaGeniX/Eddy/issues"
