%div{:class => "navbar-form #{classes}"}
  .form-group
    / - if user_signed_in?
    .form-group
      = button_to "Logout", '', class: "btn btn-default form-control",  method: :delete
    / - else
    .form-group
      .button-group
        = button_to "Login", '', class: "btn btn-success form-control"
      - if Rails.env.development?
        .form-group
          .button-group
            = button_to "Login (dev)", '', class: "btn form-control"
