%form.form-inline.pull-xs-right
  - if user_signed_in?
    = link_to "Logout", destroy_user_session_path, class: "btn btn-success-outline",  method: :delete
    %a.pull-xs-right.btn.btn-primary-outline
      = fa_icon 'plus'
      \ Add new ride
  - else
    = link_to "Login", new_user_session_path, class: "btn btn-success-outline"
